@font-face {
	font-family: 'franchiseregular';
	font-style: normal;
	font-weight: normal;
	src: url('franchise-bold/franchise-bold-webfont.eot');
	src: url('franchise-bold/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('franchise-bold/franchise-bold-webfont.svg#franchiseregular') format('svg');
	url('franchise-bold/franchise-bold-webfont.ttf') format('truetype'),
	url('franchise-bold/franchise-bold-webfont.woff') format('woff'),
 }
 
@font-face {
	font-family: 'Marydale Regular';
	font-style: normal;
	font-weight: normal;
	src: url('marydale/marydale-webfont.eot');
	src: url('marydale/marydale-webfont.eot?#iefix') format('embedded-opentype'),
	url('marydale/marydale-webfont.svg#marydaleregular') format('svg');
	url('marydale/marydale-webfont.ttf') format('truetype'),
	url('marydale/marydale-webfont.woff') format('woff'),
 }
 
@font-face {
	font-family: 'Marydale Bold';
	font-style: normal;
	font-weight: normal;
	src: url('marydale/marydale-bold-webfont.eot');
	src: url('marydale/marydale-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('marydale/marydale-bold-webfont.svg#marydalebold') format('svg');
	url('marydale/marydale-bold-webfont.ttf') format('truetype'),
	url('marydale/marydale-bold-webfont.woff') format('woff'),
 }


body {
	background: url(../img/global/sun.jpg) center top no-repeat;
	background-color: #f7f1e5;
	border-top: none;
	color: #444;
	font-family: 'Open Sans', verdana, arial, sans-serif;
	font-size: 13px; /*font-family: "Mako", sans-serif;*/
	padding-top: 0px;
 }
  
body.home {
	background: url(../img/homepage/backgrounds/globe.jpg) center top no-repeat;
	
	line-height: 1.4;
	width: 100%;
}
 
 
body.home .page.container {
	margin: auto;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	position: relative;
	background: url(../img/global/page-bkgnd-tile.png) repeat;
	padding-left: 0px;
	padding-right: 0px;
}


 
body .page.container {
	-webkit-box-shadow: 0 0 10px #000;
	background: url(../img/global/page-bkgnd-tile.png) repeat;
	box-shadow: 0 0 10px #000;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
 }
 




.masthead { height:80px; } 
 
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
 
h1 {font-size: 150%;}
 
h2 {font-size: 120%;}
 
h3 {font-size: 100%;}
 
h4 {}
 
h5 {font-size: 13px;}
 
a {color: #3f9179;}
 
ul {
	list-style-image: url(../img/ul-disc.png);
	margin-top: 10px;
 }
 
hr {
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #CCC;
	margin: 20px 0;
 }
 
.center {text-align: center;}
 
.small {font-size: 13px;}
 
.red {color: #c00;}
 
.container.wrapper {}
 
img {
	border: 0px !important;
	outline: 0 !important;
}

.clearfix {clear: both;}
 
.input.checkbox {padding-left: 5px;}



/** HEADER **/*

.header-tools { margin-top:25px;}

.search {
	margin-top:31px;
}

ul.gb-horiz-account {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 70%;
	list-style:none;
	
}

li.social, li.search, li.cart {
	display:inline;
	margin-left:3px;
}

#ProductSearch {
	width: 240px;
	height:30px;
}

input[type="text"]#ProductSearch {
	background-color: #dcded7;
	border-radius: 10px;
 }
 
li.gb-account {
	display: inline;
	list-style-image: none;
	padding-left: 15px;
 }
 
	li.gb-account a {
		color: #d64c32; /*text-decoration: none;*/
		font-weight: bold;
	 }
 







/**HOMEPAGE **/

h1.title-description {
	font-family: Marydale Regular, sans-serif;
	padding-bottom:5px;
	margin-bottom:5px;
	margin-top:30px;
	font-size: 24px;
	line-height:1.3;
	position: relative;
}

#gwm-title {
	position: relative;
	margin-top: 10px;
	width: 79%;
	margin: auto;
}




/** CAROUSEL **/

.carousel {
	margin-bottom: 20px;
}

.carousel-title {
	
	z-index:10;
	font-family:PT Sans Narrow, sans-serif;
	font-size:21px;
	color:#fff;
}

.carousel-inner .item  .new  {
	position:absolute;
	top:5px;
	right:5px;
}

.carousel-caption {
	color: #fff;
	font-size: 14px;
	background: none;
	left: 20px;
	line-height: 22px;
	position: absolute;
	top:10px;
	padding-top:20px;
	width: 300px;
}
.carousel-caption p {
	font-size: 175%;
	font-family: 'Marydale Regular', san-serif;
}
.carousel-caption p a {
	color: #fff;
}


.carousel-inner {
	max-width:94.8%;
	margin:auto;
}
	.carousel-inner .item {
		margin-left: 0px;
		margin-top: 0px;/*left: 9.2%; /*position:relative;*/
		/*width: 100%;*/ }
	
	.carousel-inner .item  img {
		
	}
	
.carousel-control {
	top: 45%;
	line-height: 35px;
	font-size:70px;
}
	.carousel-control.left {
		left: -72px;
		background-image:none;
	}
	.carousel-control.right {
		right: -72px;
		background-image:none;
	}
	

	
	

/** FEATURE **/

.feature-wrapper {
	max-width:1024px;
}

.feature {
	display:inline-block;
	width:17.65%;
	height:12.45em;
	/*background:url(../img/global/feature-placeholder.jpg) no-repeat;*/
	border:#999 thin solid;
	position:relative;
	padding:3px;
}

.feature-recipe {
	display:inline-block;
	float:left;
	margin-right:5px;
	width:22.1%;
	height:22.1%;
	border:#999 thin solid;
	position:relative;
	padding:3px;
	margin-bottom:25px;
}

.feature img {
	max-height:100%;
	max-width:100%;
	margin:auto;
}

.feature-recipe img {
	max-height:190px;
	max-width:100%;
	margin:auto;
}

.feature-label {
	font-family:'franchiseregular';
	font-size:1.8em;
	color:#393b2e;
}

.feature-row {
	margin-bottom:25px;
}

.feature-product-name,  .feature-recipe-name {
	position:absolute;
	bottom:0px;
	background:url(../img/global/page-bkgnd-tile.png) repeat;
	width:97%;
	height:24px;
	line-height:15px;
	text-align:center;
	font-size:11px;
	padding-top:4px;
}

.feature-price {
	position: absolute;
	top: 0px;
	right: -4px;
	width: 50px;
	height: 50px;
	padding-left: 14px;
	padding-top: 5px;
	font-size: 11px;
	font-weight: 700;
	background: url(../img/global/price-triangle.png) no-repeat;
}

.feature-recipe-name {
	height:24px;
}





/** RESPONSIVE - for Feature **/

@media (min-width: 1200px) {
  .col-md-12, .container {
    	width: 1100px;
  }
  
  .container.feature-block {
		padding-left:2.5%;
	}
}



@media (max-width: 1199px) {
	.feature {
		width:17.8%;
	}
	
	.feature-product-name {
		height: 34px;
	}
	
	.container.feature-block {
		padding-left:2.5%;
	}
}

@media (max-width: 979px) {
	
	.feature {
		width:17%;
	}
	
	.container.feature-block {
		padding-left:3.5%;
	}


	.feature-wrapper {
		max-width:850px;
	}

	.feature {
		width:17%;
		height:10em;
	}
	
	.feature-product-name {
		width: 97%;
		height: 52px;
	}
	
	.carousel-title {
		font-size:92%!important;
	}


}


@media (max-width: 480px) {
	
	.feature {
		width: 20.0%;
		
	}	
	.feature-product-name {
		width: 97%;
		height: 84px;
	}
	
	.feature-recipe-name {
		width: 97%;
		height: 26px;
	}
	.carousel-title {
		font-size:45%;
	}
}










/**WELCOME**/

.welcome-link {
	margin: auto;
	width: 104px;
	padding-top: 5px;
}


#welcome-bkngd {
	position:absolute;
}
#welcome_content h2 {
	font-family: Oregano, cursive;
	color: #3f9179;
	margin-bottom: 20px;
}
#welcome_content {
	display: none;
	background-color: #FFF;
	color: #000;
	width: 700px;
	-color: #fff;
	padding: 35px;
	padding-top: 20px;
	-webkit-border-radius: 12px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 12px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	-webkit-box-shadow: 0px 0px 8px 0px #ffffff; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 8px 0px #ffffff; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f1e5)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f1e5); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #f7f1e5); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #f7f1e5);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #f7f1e5); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
#welcome_content p {
	font-family: 'Ubuntu', sans-serif;
	color: #3a3a3a;
	font-size: 15px;
	line-height: 23px;
	text-align: justify;
}
#welcome_content p.section-heading {
	font-family: 'Oregano', cursive;
	color: #c00;
	font-size: 25px;
}
#welcome>img {
	max-width: none;
}


.popover-content {
	font-weight: normal;
	font-size: 13px;
	padding: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#BFDAD2)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, #ffffff, #BFDAD2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #ffffff, #BFDAD2); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, #ffffff, #BFDAD2);
	; /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, #ffffff, #BFDAD2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.b-close.btn-gb  {
	background-color: #3f9179;
	border-radius: 12px;
	box-shadow: none;
	font: bold 100% sans-serif;
	position: absolute;
	right: 4px;
	top: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding-top: 6px;
	padding-right: 9px;
	padding-bottom: 6px;
	padding-left: 9px;
}










/* Footer */

#footer {
	margin: auto;
	padding: 20px;
	color: #fff;
	background-color:#3b3666;

}

#footer a {
	color:#fff;
}

.footer-links {
	padding-top:10px;
	padding-bottom:30px;	
}
.footer-links a {
	font-family:'PT Sans Narrow';
	font-size:1.4em;
	padding-right:30px;
	
}

.footer-links a.first-link {
	padding-left:9.6%;
}

.footer-links a.last-link {
	padding-right:0px;
}


	
@media (max-width: 480px){

}
		
@media (max-width: 767px) { /**ER test **/
	
	.feature {
		width: 20.0%;
		
	}	
	.feature-product-name {
		width: 97%;
		height: 84px;
	}
	
	.feature-recipe-name {
		width: 97%;
		height: 26px;
	}
	.carousel-title {
		font-size:45%;
	}

	#account {
		display:none;
	}
	
}


@media (max-width: 991px) {
	.carousel-caption {
		
	}

}



